
<IfModule mod_rewrite.c>
RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.nicepa\.cn$ [NC]
RewriteRule .?  http://nicepa.cn%{REQUEST_URI} [R=301]

RewriteRule ^wechat/(.+)$ index.php/api/$1 [L]
RewriteRule ^wesite/(.+)/(.+)$ index.php?g=Wesite&m=Index&a=$2&wxuid=$1&%{QUERY_STRING} [L]
RewriteRule ^wewap/(.+)/(.+)/(.+)$ index.php?g=wap&m=$2&a=$3&wxname=$1&%{QUERY_STRING} [L]
RewriteRule ^np(.+)/(.+)/(.+)\.act$ index.php?g=$1&m=$2&a=$3&%{QUERY_STRING}  [L,NE]

#微预约
RewriteRule ^reserve/(.+)/(.+)$ index.php?g=Wesite&m=reserve&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]
#微相册
RewriteRule ^album/(.+)/(.+)$ index.php?g=Wesite&m=album&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]
#微相册
RewriteRule ^Webmessage/(.+)/(.+)$ index.php?g=Wesite&m=comment&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#微会员卡
RewriteRule ^Webmember/(.+)/(.+)$ index.php?g=Wesite&m=Member&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#微房产
RewriteRule ^WebEstate/(.+)/(.+)$ index.php?g=Wesite&m=WebEstate&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#授权访问
RewriteRule ^WebAuth/(.+)/(.+)$ index.php?g=Wesite&m=Auth&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#游戏应用
RewriteRule ^WebApp/(.+)/(.+)$ index.php?g=Wesite&m=WebApp&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#游戏应用
RewriteRule ^WebWall/(.+)/(.+)$ index.php?g=Wesite&m=WebWall&a=$2&wxuid=$1&%{QUERY_STRING} [L,NC]

#微名片
RewriteRule ^vCard/(.+)$ index.php?g=Wesite&m=VCard&a=Index&cardno=$1&%{QUERY_STRING} [L,NC]

</IfModule>
