<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^wechat/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/{R:1}" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^wesite/(.+)/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=Index&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^wewap/(.+)/(.+)/(.+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=wap&amp;m={R:2}&amp;a={R:3}&amp;wxname={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url="^np(.+)/(.+)/(.+)\.act$" />
                    <action type="Rewrite" url="index.php?g={R:1}&amp;m={R:2}&amp;a={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url="^reserve/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=reserve&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="^album/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=album&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="^Webmessage/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=comment&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="^Webmember/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=Member&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="^WebEstate/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=WebEstate&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="^WebAuth/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=Auth&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^WebApp/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=WebApp&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^WebWall/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=WebWall&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^vCard/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=VCard&amp;a=Index&amp;cardno={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^WebLecture/(.+)/(.+)$" />
                    <action type="Rewrite" url="index.php?g=Wesite&amp;m=WebLecture&amp;a={R:2}&amp;wxuid={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
